extends ../layouts/base-layout

//- include ../intro
//- include ../offers
//- include ../advantages
//- include ../example

block vars
  -pageSettings.title = "Главная";


block content
  p   olestias.
  //- +header()
  //- +intro
  //- +offers
  //- +advantages
  //- +example