extends ../layouts/base-layout

//- include ../intro
//- include ../offers
//- include ../advantages
//- include ../example

block vars
  -pageSettings.title = "Very Главная";


block content
  //- +header()
  //- +intro
  //- +offers
  //- +advantages
  //- +example