mixin header(modclass)
  
  HEADER.header(class = modclass)
    NAV.header__nav.header__nav--closed.header__nav--nojs
      A.header__toggle(href="#") Открыть меню

      UL.header__list
        LI
          A.header__list-item(href = "index.html" class = "header__list-item--logo")
            IMG.header__item-logo.header__item-logo--once(src = "img/svg/logo-mobile.svg" alt = "Одноразовый логотип")
            PICTURE
              SOURCE(media = "(min-width: 1440px)" srcset = "img/svg/logo-desktop.svg")
              SOURCE(media = "(min-width: 768px)" srcset = "img/svg/logo-tablet.svg")
              IMG.header__item-logo(src = "img/svg/logo-mobile-header.svg" alt = "Логотип основного меню сайта")
        .header__list-wrap
          LI        
            A.header__list-item(href = "index.html")
              SPAN.header__item-text Главная
          LI
            A.header__list-item(href = "catalog.html")
              SPAN.header__item-text Каталог продукции
          LI
            A.header__list-item(href = "form.html")
              SPAN.headeru__item-text Подбор программы












        //- each link, index in menuclass=data.activeCat class=data.activeForm
        //-   if index > 0
        //-     LI
        //-       A.header-menu__list-item(href= link.href class= link.class)
        //-         SPAN.header-menu__item-text= link.text
        //-   else
        //-     LI
        //-       A.header-menu__list-item(href= link.href class= link.class)
        //-         IMG.header-menu__item-logo.header-menu__item-logo--once(src= link.img alt = "Одноразовый логотип")
        //-         PICTURE
        //-           SOURCE(media = "(min-width: 1450px)" srcset = "..")
        //-           SOURCE(media = "(min-width: 768px)" srcset = "img/svg/logo-tablet.svg")
        //-           IMG.header-menu__item-logo(src = "img/svg/logo-mobile-header.svg" alt = "Логотип основного меню сайта")
 
