extends ../layouts/base-layout

//- include ../intro
//- include ../offers
//- include ../advantages
//- include ../example

block vars
  -pageSettings.title = "Главная";


block content
  p  elit. Hic dfdfdfdfdftias voluptas nisi quis, quaerat debitis dicta est reiciendis soluta mollitia aperiam quas omnis temporibus recusandae adipisci ipsum nulla a. Molestias.
  //- +header()
  //- +intro
  //- +offers
  //- +advantages
  //- +example